<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Project</title>
  </head>
  <body>
    <form>
      <label for="icon">ICON</label>
      <input type="text" name="icon" placeholder="ex:- fa fa-home" /><br />
      <label for="title">TITLE</label>
      <input type="text" name="title" placeholder="project type" /><br />
      <label for="description">DESCRIPTION</label>
      <textarea
        rows="5"
        cols="10"
        name="description"
        placeholder="project details"
      ></textarea>
      <button type="submit">Save</button>
      <button type="cancel">Cancel</button>
    </form>
  </body>
</html>
